/* Dropdown container */
.dropdown {
  position: relative;
}

/* Wrapper for dropdown link & content */
.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

/* Dropdown menu */
.dropdown-content {
  display: block;
  opacity: 0;
  transform: translateY(10px); /* Move it down a little */
  pointer-events: none; /* Disable clicking while hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: calc(100% + 9px);
  padding-top: 1rem;
  background-color: #f8d095;
  box-shadow: 0 8px 16px #00000024;
  padding: 0.5em 0;
  border-radius: 1rem;
  min-width: 200px;
  z-index: 200;
}

/* Dropdown links */
.dropdown-content a {
  display: block;
  padding: 0.5em 1em;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.2s, border-radius 0.2s;
  border-radius: 0.5rem;
}

/* Collision extend */
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 9px;
  background: transparent;
}

/* Hover style */
.dropdown-content a:hover {
  background-color: #f7dbb1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content,
.dropdown-wrapper:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}