body {
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
    padding: 40px;
}

h1 {
    color: #000000;
}

nav {
    background-color: #f5c275;
    padding: 1em 2em;
    border-radius: 2rem;    
    box-shadow: -5px 5px 10px #00000050;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0; margin: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}